<div ng-if="$ctrl.gameI == -1" class="logo">
  <img src="assets/images/logo.png" ng-click="$ctrl.toggleTheme()">
</div>

<div ng-if="$ctrl.games[$ctrl.gameI].type == 'questions'">
  <div class="question-text">
    {{$ctrl.games[$ctrl.gameI].questions[$ctrl.qI].text}}
  </div>

  <div class="qscore">
    {{$ctrl.qscore}}
  </div>

  <div class="answer-col-container">
    <ul class="answers">
      <li
	 ng-repeat="answer in $ctrl.ff($ctrl.games[$ctrl.gameI].questions[$ctrl.qI].answers)"
	 ng-click="$ctrl.reveal(answer)">
	<div ng-show="answer.show">
	  <span class="answer-text">
	    {{answer.text}}
	  </span>
	  <span class="answer-value">
	    {{answer.value}}
	  </span>
	</div>
	<div ng-hide="answer.show">
	  {{$index+1}}
	</div>
      </li>
    </ul>
    <ul class="answers" ng-show="$ctrl.games[$ctrl.gameI].questions[$ctrl.qI].answers.length>5">
      <li
	 ng-repeat="answer in $ctrl.lf($ctrl.games[$ctrl.gameI].questions[$ctrl.qI].answers)"
	 ng-click="$ctrl.reveal(answer)">
	<div ng-show="answer.show">
	  <span class="answer-text">
	    {{answer.text}}
	  </span>
	  <span class="answer-value">
	    {{answer.value}}
	  </span>
	</div>
	<div ng-hide="answer.show">
	  {{$index+6}}
	</div>
      </li>
    </ul>
  </div>
</div>



<div ng-if="$ctrl.games[$ctrl.gameI].type == 'fast-money'">
  <h1>FAST MONEY - - - 
    <button ng-click="$ctrl.toggleHideFM()">
      {{$ctrl.hideFM? 'show':'hide'}}
    </button>
  </h1>
  <div class="fast-money">
    <div class="fast-round" ng-repeat="b in [0,1]">
      <input ng-repeat-start="a in [0,1,2,3,4]" ng-class="{hidefm:$ctrl.hideFM}">
      <input ng-model="$ctrl.fms[b][a]">
      <br ng-repeat-end>
      <div class="player-total">
	{{$ctrl.sum($ctrl.fms[b])}}
      </div>
    </div>
  </div>
  <hr>
  <div class="team-total" ng-click="$ctrl.win = ''">
    {{$ctrl.win}}
  </div>
</div>



<div class="x-container">
  <img src="assets/images/x.png" ng-repeat="x in $ctrl.arr($ctrl.xs) track by $index">
</div>

<!--controls for game, x, teams...-->
<div class="controls">
  <div class="team" ng-click="$ctrl.scoreTo(0)">
    <span ng-click="$ctrl.rotateAv(0)">
      TEAM {{$ctrl.av[0] | uppercase}}: {{$ctrl.scores[0]}}
    </span>
    <img ng-src="assets/images/{{$ctrl.av[0]}}.png">
  </div>

  <button ng-click="$ctrl.prevQ()">Prev Q</button>
  <button ng-click="$ctrl.nextQ()">Next Q</button>
  
  <button ng-click="$ctrl.x()">BUZZ</button>
  <button ng-click="$ctrl.clear()">Clear</button>

  <button ng-click="$ctrl.prevGame()">Prev Game</button>
  <button ng-click="$ctrl.nextGame()">Next Game</button>

  <div class="team" ng-click="$ctrl.scoreTo(1)">
    <span ng-click="$ctrl.rotateAv(1)">
      TEAM {{$ctrl.av[1] | uppercase}}: {{$ctrl.scores[1]}}
    </span>
    <img ng-src="assets/images/{{$ctrl.av[1]}}.png">
  </div>
</div>
